{% extends 'layout.html' %}

{% block css %}
  <style>
  .registration-container {
    padding-top: 40px;
  }
  .registration-container .row {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  </style>
{% endblock %}

{% block content %}
  <div class="container registration-container">
    <div class="row">
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="panel panel-default">
          <div class="panel-heading">Sign up</div>
          <div class="panel-body">
            <form action="/api/register" id="registration-form">
              <div class="form-group">
                <label for="email" class="sr-only">Email</label>
                <input type="email" id="email" name="email" class="form-control" placeholder="Email Address">
              </div>
              <div class="form-group">
                <label for="password" class="sr-only">Password</label>
                <input type="password" id="password" name="password" class="form-control" placeholder="Password">
              </div>
              <div class="form-group">
                <label for="confirmPassword" class="sr-only">Confirm Password</label>
                <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" placeholder="Confirm Password">
              </div>
              <button type="submit" class="btn btn-lg btn-block btn-primary">Sign up</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
